/* Inter Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Marcellus Font */
@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Elsie:wght@400;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Marcellus&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Elsie Font */
@import url("https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Elsie Swash Caps Font */
@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Elsie:wght@400;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Satoshi Font */
@font-face {
  font-family: Satoshi;
  src: url(../../../Satoshi_Complete/Satoshi_Complete/Fonts/TTF/Satoshi-Variable.ttf);
}

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}

:root {
  --sim-black-color: #333333;
  --sim-dark-green-color: #568673;
  --sim-light-green-color: #76b29d;
  --sim-dark-grey-color: #7a7a7a;
  --white-color: white;
}

/* Some common styles */

/* Color Related */

.sim-black-color {
  color: var(--sim-black-color);
}

.sim-dark-green-color {
  color: var(--sim-dark-green-color);
}

.sim-light-green-color {
  color: var(--sim-light-green-color);
}

.sim-dark-grey-color {
  color: var(--sim-dark-grey-color);
}

.white-color {
  color: var(--white-color);
}

/* Font Family Related */

.inter-font-family {
  font-family: Inter, sans-serif;
}

.marcellus-font-family {
  font-family: Marcellus, serif;
}

.elsie-font-family {
  font-family: Elsie, cursive;
}

.elsie-swash-caps-font-family {
  font-family: Elsie Swash Caps, cursive;
}

.satoshi-font-family {
  font-family: Satoshi, sans-serif;
}

/* Font-size Related */

.fs-12px {
  font-size: 12px;
}

.fs-14px {
  font-size: 14px;
}

.fs-18px {
  font-size: 18px;
}

.fs-20px {
  font-size: 20px;
}

.fs-24px {
  font-size: 24px;
}

.fs-25px {
  font-size: 25px;
}

.fs-40px {
  font-size: 40px;
}

.fs-45px {
  font-size: 45px;
}

.fs-65px {
  font-size: 65px;
}

/* Font-weight Related */

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

/* Width Related */

.max-width-1320px {
  max-width: 1320px;
}

/* Button Related */

.btn-bg-sim-green-color-white {
  background-color: var(--sim-light-green-color);
  color: var(--white-color);
  border: none;
  border-radius: 100px;
}

/* Header Section */

.header-sec {
  width: 100%;
  background-color: #f2fbf5;
}

.header-menu-sec ul {
  margin-right: 30px !important;
}

.header-menu-sec ul li:hover a {
  color: var(--sim-dark-green-color);
}

@media screen and (max-width: 995px) {
  .header-sec .container {
    display: block !important;
    text-align: center;
  }

  .container .left-header-sec,
  .container .right-header-sec {
    justify-content: center !important;
  }

  .container .right-header-sec {
    margin-top: 15px !important;
  }
}

@media screen and (max-width: 770px) {
  .container .right-header-sec {
    display: block !important;
  }

  .right-header-sec div ul {
    justify-content: center;
    margin: 0px 0px 20px 0px !important;
  }
}

@media screen and (max-width: 540px) {
  .header-menu-sec ul li a {
    margin-right: 20px !important;
  }

  .header-menu-sec ul li:last-child a {
    margin-right: 0px !important;
  }
}

@media screen and (max-width: 400px) {
  .main-logo-sec img {
    width: 50px !important;
  }

  .web-name-sec p {
    font-size: 25px !important;
  }

  .header-menu-sec ul {
    display: block !important;
  }

  .header-menu-sec ul li a {
    margin-right: 0px !important;
  }
}

/* Home Section */

.home-sec {
  background: linear-gradient(to top, #ffffff, #f2fbf5);
}

.left-home-sec {
  width: 50%;
}

.home-sec-greeting {
  letter-spacing: 5px;
}

.home-sec-main-heading {
  line-height: 85px;
}

.home-sec-main-para {
  line-height: 28px;
}

.home-accounts-text-sec:first-child {
  line-height: 37.5px;
}

.right-home-sec {
  width: 50%;
}

.home-img-sec img {
  width: 400px;
}

@media screen and (max-width: 1000px) {
  .home-sec .container {
    display: block !important;
  }

  .container .left-home-sec,
  .container .right-home-sec {
    width: 100% !important;
  }

  .container .right-home-sec {
    justify-content: center !important;
    margin-top: 30px !important;
  }

  .right-home-sec .home-img-sec {
    justify-content: center !important;
  }
}

@media screen and (max-width: 600px) {
  .home-sec .container {
    text-align: center;
  }

  .left-home-sec .home-install-app-sec,
  .left-home-sec .home-accounts-sec {
    justify-content: center;
  }

  .left-home-sec .home-sec-main-heading {
    font-size: 50px !important;
    line-height: 70px;
  }
}

@media screen and (max-width: 410px) {
  .left-home-sec .home-sec-main-heading {
    font-size: 25px !important;
    line-height: 50px;
  }

  .home-img-sec img {
    width: 250px;
  }

  .left-home-sec .home-install-app-sec,
  .left-home-sec .home-accounts-sec {
    display: block !important;
  }

  .left-home-sec .home-install-app-sec div,
  .left-home-sec .home-accounts-sec div {
    margin: 0 0 10px 0 !important;
  }
}

/* Section 3 */

.sec-3 {
  padding: 100px 0 !important;
}

.sec-3-social-media {
  flex-wrap: wrap !important;
  gap: 30px;
}

.s3-soc-media-main-box {
  width: 200px;
  height: 200px;
  border: 2px dashed #b8e1d3;
  border-radius: 12px;
}

.s3-soc-media-main-box:hover {
  background-color: #f0fdf4;
}

.s3-soc-media-sub-box {
  width: 64px;
  height: 64px;
  border: 2px solid #b8e1d3;
  border-radius: 12px;
  background-color: var(--white-color);
}

@media screen and (max-width: 410px) {
  .sec-3-container .sec-3-main-heading {
    font-size: 25px !important;
  }
}

/* About Us Section */

.about-sec {
  padding: 0 0 100px 0 !important;
}

.about-sec-container {
  padding: 0 50px !important;
}

.left-about-sec,
.right-about-sec {
  width: 50%;
}

.left-about-sec div {
  width: 100%;
  height: 100%;
}

.left-about-sec div img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 585px) {
  .about-sec .about-sec-container {
    display: block !important;
    text-align: center;
    padding: 10px !important;
  }

  .about-sec-container .left-about-sec,
  .about-sec-container .right-about-sec {
    width: 100%;
  }

  .about-sec-container .right-about-sec {
    margin-top: 50px !important;
    padding: 0 !important;
  }
}
